<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GraphSDKSample</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.microsoft.windowsazure.activedirectory.sdk.sample.controllers.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Group</servlet-name>
    <servlet-class>com.microsoft.windowsazure.activedirectory.sdk.sample.controllers.GroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Group</servlet-name>
    <url-pattern>/Group</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.microsoft.windowsazure.activedirectory.sdk.sample.controllers.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Role</servlet-name>
    <servlet-class>com.microsoft.windowsazure.activedirectory.sdk.sample.controllers.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Role</servlet-name>
    <url-pattern>/Role</url-pattern>
  </servlet-mapping>
</web-app>